/* ------ CSS Reset ------ */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------- STYLESHEET BELOW

Oranienbaum

Bebas Neue

background-color: #E7BC4F;

-------------- */

*{
	box-sizing: border-box;
}

body{
	font-family: 'Oranienbaum', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: #363636; 	
	background-color: rgb(204, 204, 204);
	background-image: url("images/jasmine-yu-s3O3G454JTU-unsplash.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	


}




#wrapper{

	/* background-size: cover;
	background-size: 100%; */
	padding: 5%;
	min-height: 100vh;
	position: relative;
	
	
} 



h1{

	font-family: 'Faster One', Arial, Helvetica, sans-serif;
	font-size: 15em;
	text-transform: uppercase;
	color: white;
	margin-top: -3%;
	
	
}



h2{
	font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
	font-size: 6em;
	text-transform: uppercase;
	color: white;
	border-left: solid 40px cornflowerblue;
	padding: 1%;
	

}



p{
  color: black;
  font-size: 2em;
  padding: 1% 2%;
  margin-left: 0;
  border-left: solid 40px cornflowerblue;
  

  
}

section{
	background-color: rgba(0, 0, 0, 0.575);
	margin-top: 10%;
	

	
}



section p {
	background-color: rgba(221, 221, 221, 0.733);
	
}

section:last-of-type{
	margin-bottom: 20%;
}

footer{
	text-align: center;
	background-color: rgba(0, 0, 0, 0.651);
	padding: 5px 20px;
	color: white;
	font-size: 1em;
	position: absolute;
	bottom: 0;
	right: 45%;
	text-transform: uppercase;
	

}

/* h1:hover{
	color: rgb(224, 178, 51);
	
}  */
	
section:hover{
	background-color: coral;
}


/* section:nth-child( odd ) p{
	background-color: grey;


	
} */
