/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
a {
	text-decoration: none;
}

/* ------------------- END OF RESET ------------------- */ 
/* CSS for JS toggles */ 
/* .display-none{
	display: none;
}
.display-block{
	display: block;
} */
/* Main styles */ 
/* 下　CHAT GPT */ 
.canvas-container {
	position: relative;
	width: 100%;
	height: 100vh; /* full height of first hero section */
	overflow: hidden;
  }
  #gradient-canvas {
	/* background-image: url(assets/background-backup.png);
	background-repeat: no-repeat;
	background-size: cover; */
	position: absolute;
	background-color: #659cc0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1; /* behind the content */
  }
  .canvas-content {
	position: relative;
	z-index: 2; /* content on top of canvas */
	/* padding: 2rem; */
	color: white; /* or whatever fits the canvas */
  }
/* 上 CHAT GPT */ 

#gradient-canvas{
	/* Added code */
	z-index: -1;
	position: fixed; /* ensures it stays behind content */
 	top: 0;
  	left: 0;
	/* Added code */
	width: 100%;
	height: 100%;
	/* --gradient-color-1: #b2c2bd;
	--gradient-color-2: #5b8088; 
	--gradient-color-3: #4a5757;  
	--gradient-color-4: #4c5959; */


	--gradient-color-1: #0d2e00; 
	--gradient-color-2: #6ec3f4; 
	--gradient-color-3: #968ab4;  	
	--gradient-color-4: #5d8f63;


	/* --gradient-color-1: #0d2e00; 
	--gradient-color-2: #6ec3f4; 
	--gradient-color-3: #b1a4d2;  
	--gradient-color-4: #d0d1d1; */


	/* green yellow & red version colours #4CD4B0

#FFFCE6

#F24D16

#EDD834 */ 
  }

.temp-background{
	/* position: relative;
	bottom: 50vw; */
}

/* ------------------------------ */ 

a:link, a:visited, a:active{
	color: black;
}
a:hover{
	color: lightgray;
}
body {
	font-family: Helvetica, Arial, sans-serif;
}
a.japanese-page{
	color: white;
}
/* ME */
/* .japanese-page{
	display: flex;
	align-self: flex-end;
	border: 1px solid white;
	border-radius: 50%;
	padding: 5%;
	margin: 5%;
} */
/* CHAT GPT */
.japanese-page {
	width: clamp(70px, 4vw, 56px);
	height: clamp(70px, 4vw, 56px);
  
	display: flex;
	align-self: flex-end;
	align-items: center;
	justify-content: center;
  
	border: 1px solid white;
	border-radius: 50%;
  
	margin: 5%;
	padding: 0;
  }

.japanese-page:hover, form button:hover{
	background-color: rgba(255, 255, 255, 0.164);
	transition: .5s;
	cursor: pointer;
}
.temp-background{

}
/* button{
	display: block;
	width: 30px;
	height: 10px;
	border-top: 1.5px solid black;
	border-bottom: 1.5px solid black;
} */
/* .top-navbar{
	display: flex;
	justify-content: space-between;
} */

h1{
	/* margin-top: 100%; */
}

/* Tutorial nav bar */
.nav-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8%;
}

.nav-bar{
	/* position: fixed; */
}
.nav-menu{
	display: flex;
	justify-content: space-between;
	gap: 3em;
}
.nav-link{
	transition: 0.5s ease;
}
.bar{	
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	background-color: black;
	/* -webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; */
}
.hamburger{
	display: block;
	cursor: pointer;
}

.hamburger.active .bar:nth-child(1){
	transform: translateY(4px) rotate(45deg);
}
.hamburger.active .bar:nth-child(2){
	transform: translateY(-4px) rotate(-45deg);
}
.nav-menu{
	position: fixed;
	left: -100%;	
	top: 70px;
	flex-direction: column;
	width: 100vw;
	/* height: 100vh; */
	transition: .5s;
	padding: 7.5%;
	background-color: white;
}

.nav-bar.active{
	margin: 0;
	position: fixed;
	width: 100vw;
	padding: 8%;
	background-color: white;
	z-index: +1;
}

.nav-menu.active{
	left: 0;
}
.header-container.active{
	min-height: 100vh;
}
.temp-background{
	
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	color: white;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	/* Add background as a backup for p5.js sketch */ 
	/* background-image: url(assets/background-img-temp.jpeg);
	background-size: cover;
	background-repeat: no-repeat; */
}
.p5-sketch{
	min-width: 100vw;
	min-height: 100vh;
}
/* Hero image h1, div + p tag */ 
.temp-background h1{
	position: relative;
	top: 20vh;
	font-size: 1.6em;
	font-weight: lighter;
	line-height: 1.3em;
	margin: 5%;
}
.hero-text-flex-container{
	display: flex;
	justify-content: space-between;
}
/* Hero image p tag */ 
.hero-text-flex-container p{
	text-transform: uppercase;
	font-size: 10px;
	margin: 15% 5%;
}

/* .hero-image-text{
	margin: 30px;
	color: rgb(243, 243, 243);
	font-size: 20px;
} */
/* .hero-image-text h1{
	line-height: 25px;
}
.hero-image-text p{
	font-size: 10px;
	text-transform: uppercase;
} */
#about{
	background-color: white;
	padding: 7.5% 5% 5% 5%;
}
#about h2{
	padding: 15% 0;
	margin: 0 5% 0 5%;
}
#about p{
	margin: 5%;
}
div .about-flex-item{
	line-height: 1.6em;
}

/* .flex-container{
	display: flex;
	justify-content: space-between;
	margin-top: auto;
	margin-bottom: 20%;
} */

/* Wrapper for main content for margin and spacing */
/* .main-wrapper{
	margin: 7.5%;
} */
section h2{
	text-transform: uppercase;
	font-size: 2em;
	padding: 20% 0;
}
/* section p:first-of-type{
	line-height: 1.75em;
} */

.paragraph-break{
	display: block;
	margin-bottom: 7.5%;
}

section h3{
	font-size: 1.5em;
	margin: 30% 0 15% 0;
}
/* Table styles */ 

table{
	width: 100%;
	text-align: left;
	/* font-size: .7em; */
}

th{
	font-size: 5vw;
	padding-bottom: 5%;
}

td{
	font-size: 3.5vw;
	border-top: 1px solid;
	padding: 5% 0;
}

thead th:nth-child(2), table tr td:nth-child(2) {
	padding-left: 5%; /* Styles the second TD in every row */
}

/* .p5-sketch-2{
	background-image: url(assets/second-background.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;

} */
.p5-sketch-2{
	/*Text colour (h3)*/ 
	color: white;
	font-size: 1.7em;
	font-weight: lighter;
	line-height: 1.3em;
	padding: 10%;
}
.p5-sketch-2 h4{
	margin-bottom: 5%;
}
.p5-sketch-2 p{
	font-size: .6em;
	line-height: 2em;
	margin-bottom: 30%;	
}
#stand-out-text{
	font-size: 1em;
	line-height: 1.5em;
	margin: 15vh 0 20vh 0;
}

/*----------------------- Temp projects section -------------------------*/
.projects-grid-container{
	border-bottom: 1px solid black;
	/* display: grid;
	grid-template-columns: 1fr 8fr; */

}
#projects{
	margin: 5%;
	padding: 20% 0 5% 0;
}

.projects-flexbox-container{
	/* padding-bottom: 15%; */
}
.projects-flexbox-container h4{
	/* text-transform: uppercase;
	font-size: 1.5em;
	font-weight: lighter;
	margin: 5%;
	padding: 10% 0; */
}
/* .img-flex-container{
	grid-column-start: 1;
	grid-column-end: 8;
	margin: 5%
} */
.project-image-link{
	width: 100%;
	height: auto;
	/* margin: 10% 0 10% 0; */
	border-radius: 10px;
	border: 1px lightgray solid;
}
/* .project-image-link{
	width: 80vw;
	border-radius: 10px;
	border: 1px lightgray solid;
} */
.project-image-link:last-of-type{
	padding: 0;
	/* margin-bottom: 50%; */
}
#projects-section{
	background-color: #EEEEEE;
}

.project-number{

	/* margin: 10%; */
}
.project-text h4{
	margin-bottom: 2%;
}

/*-- New project cards styles start */
.projects-cards-container{
	padding-bottom: 15%;
}
.projects-card{
	/* border: solid 1px black; */
	border-radius: 5%;
	margin: 10%;
	background-color: white;
	overflow: hidden; /* Keeps corners inside parent element */ 
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	transition: 1.5s;
}
.projects-card:hover{
	transform: scale(1.1);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 50px;
}

.project-image{
	width: 100%;
	height: auto;
	opacity: 85%;
	transition: 1s;
}
.project-image:hover{
	opacity: 100%;
}
.project-title{
	margin-top: 5%;
}
.project-description{
	font-size: 3vw;
	color: #545454;
	margin-right: 5%;
}
.projects-link-number-container{
	display: flex;
	justify-content: space-between;
	margin-bottom: 7.5%;
}
.project-link{
	font-size: 2.5vw;
	border-radius: 30px;
	color: white;
	background-color: #2A2A2A;
	padding: 2.5% 7.5%;
	align-content: center;
	transition: 1s;
}
.project-link{
	
}
.project-link:visited, .project-link:active{
	color: white;
}
.project-link:hover{
	color: white;
}
.project-number{
	color: #444444;
	margin-right: 5%;
	align-self: self-end;
}
.project-title, .project-description, .project-link{
	margin-left: 10%;
	margin-bottom: 5%;
}

/*-- New project cards styles end  */

.final-message-heading, .final-message{
	background-color: white;
	color: black;
	/* padding: 10%; */
}
.final-message-heading{
	font-size: 8vw;
	padding: 20% 10% 5% 10%;
}
.final-message p{
	font-size: 4vw;
	line-height: 8vw;
	padding: 2.5% 10%;
}
.final-message p:last-of-type{
	padding-bottom: 20%;
}

.contact-form-section{
	background-color: rgb(0, 0, 0);
	z-index: 0;
}
.contact h2{
	color: white;
	font-size: 2em;
	margin: 20% 5% 10% 5%;
}

.contact p{
	color: white;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 1em;
	padding: 5%;
}

form{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	/* justify-items: center; */
	margin: 5%;
	
}

form label{
	color: white;
	font-size: 1.3em;
	margin-bottom: 15%;
	
	
}

form input, form textarea{
	display: block;
	width: 100%;
	margin-top: 5%;
	border-radius: 5px;
	border: 1px white solid;
}

form input{
	height: 50%;
}
form textarea{
	height: 100%;
}

form button{
	color: white;
	border: 2px solid white;
	border-radius: 50px;
	width: 50%;
	justify-self: center;
	padding: 5%;
	margin: 10% 0 10% 0;
}

footer{
	background-color: black;
	padding: 5%;
	font-weight: lighter;
}
/* footer h2{
	color: white;
	text-transform: uppercase;
	font-size: 2em;
	padding-bottom: 10%;
} */
footer p, footer a, footer a:visited, footer a:active, footer a:link{
	color: white;
	/* margin: 5% 0; */
}
.flex-container{
	display: flex;
}
.footer-grid-container{
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	/* align-items: center; */
	font-size: 3vw;
	margin-top: 10%;
	border-top: 1px rgb(177, 177, 177) solid;
	padding-top: 10%;
}
.footer-grid-container p + .footer-grid-container a{
	margin: 5% 0;
}
.footer-grid-container a{
	display: block;
}
.footer-grid-item:not(:first-child){
	display: grid;
	gap: 25%;
	/* margin-top: 50%; */
}
.footer-grid-item:first-child{
	display: grid;
	gap: 1%;
}
.footer-grid-item:nth-of-type(2){
	gap: 50%;
}
.footer-grid-item:nth-of-type(3){
	gap: 50%;
}
.footer-grid-item p{
	/* color: rgb(188, 188, 188); */
}

.copyright{
	display: flex;
	justify-content: center;
	font-size: 3vw;
	margin-top: 20%;
	
}
/* ------------------- MEDIA QUERIES (mobile first coded for 320px)------------------- */ 
@media only screen and (min-width: 320px){
	.temp-background h1{
		/* position: relative;
		top: 50vh;
		font-size: 22px;
		line-height: 25px;
		margin: 5%; */
	}
}
/* ------------------- When screen width is 600px or more / 600px以上の場合------------------- */ 
@media only screen and (min-width: 600px) {
	/* When screen width is 600px or more / 600px以上の場合 */
	/* nav ul{
		display: flex;
	} */
	 #about h2{
		padding: 0;
		font-size: 5vw;
	 }

	.japanese-page{
		padding: 2.5%;
	}

	.temp-background h1{
		top: 10vh;
	}

	.hamburger{
		display: none;
	}
	.nav-menu{
		position: initial;
		left: initial;	
		top: initial;
		flex-direction: initial;
		width: initial;
		margin: initial;
	}

	.temp-background > h1:nth-child(1) > span:nth-child(1) {
		font-size: 1.5em;
		line-height: 1.3em;
		}
	section h2{
		font-size: 3em;
		padding: 0;
	}
	section h3{
		font-size: 5vw;
		margin: 10% 0 5% 0;
	}
	
	section br{
		margin-bottom: 5%;
  }
  
	.nav-bar{
		padding: 0 5%;
	}
	
	.nav-menu{
		padding: 2.5%;
	}

    th{
		font-size: 3vw;
		padding-bottom: 2.5%;
    }
	td{
		font-size: 2.5vw;
		padding: 2.5% 0;
	}
	#stand-out-text{
		font-size: 1.5em;
		padding: 10% 5% 0 5%;
		margin: 12.5% 0 12.5% 0;
	}
	.offset-word{
		display: block;
		text-indent: 10%;
	}
	.p5-sketch-2 p {
		margin-bottom: 20%;	
	}

	.about-flex-container{
		display: flex;
	}
	.about-flex-item{
		flex: 1 1;
	}
	.about-flex-item + p{
		/* font-size: .1em; */
	}
	.p5-sketch-2{
		padding: 0%;
	}
	.skills-flex-container{
		display: flex;
		justify-content: space-evenly;
		gap: 5%;
		font-size: .7em;
	}
	.skills-flex-item{
		flex: 1;
		/* Temp setting */
		max-width: 25vw;	
	}

	#projects{
		padding: 10% 0 5% 0;
	}
	.projects-card{
		margin: 2.5%;
	}
	.projects-cards-container{
		display: flex;
		padding: 5%;
	}
	.project-title{
		font-size: 2vw;
	}
	.project-description{
		font-size: 1vw;
	}
	.project-link{
		font-size: 1vw;
	}
	.project-number{
		font-size: 2vw;
		font-weight: lighter;
	}
	.projects-grid-container {
		/* grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr; */
		/* gap: 5vw; */
	}

	.project-number{
		/* font-size: 1.5em;
		font-weight: lighter;
		grid-area: 1 / 1; */
	}
	.project-title{
		/* grid-area: 1 / 2 / 1 / 2;	
		font-size: 1.2em; */
	}
	.project-description{
		/* grid-area: 1 / 2 / 1 / 2;
		margin-top: 15%;	 */
	}

	.project-image {
		/* grid-area: 1 / 3 / 2 / 3; */
	}

	.contact h2{
		margin: 15% 5% 0 5%;
	}
	.contact p{
		/* margin: 5%; */
	}

	form label{
		margin-bottom: 10%;
	}
	form button{
		/* width: 40vw;
		padding: 4%; */
		padding: 3%;
		width: 30%;
	}
  

	footer h2{
		padding-bottom: 7.5%;
	}
	.copyright{
		margin-top: 10%;
	}
		

  }


@media only screen and (min-width: 800px) {
	/* When screen width is 800px or more / 800px以上の場合 */
	/* .japanese-page{
		padding: 1.5%;
	} */
	.temp-background h1{
		font-size: 2em;
		line-height: 1.4em;
		margin: 5% 10%;
	}
	.hero-text-flex-container p{
		font-size: 1em;
		margin: 5% 10%;
	}

	
  }

@media only screen and (min-width: 1080px) {
	/* When screen width is 1080px or more / 1080px以上の場合 */
	
	.japanese-page{
		padding: 1.5vw;
		margin: 2.5% 5%;
	}

	.temp-background h1{
		font-size: 2.8em;
		line-height: 1.4em;
		margin: 10%;
		top: 20vh;
	}
	
	p.about-flex-item{
		font-size: 1.2em;
	}
	section h3{
		font-size: 3vw;
	}
	th{
		font-size: 2vw;
    }
	td{
		font-size: 1.5vw;
		padding: 2.5% 0;
	}

	#stand-out-text{
		font-size: 1.4em;
		margin: 10% 5%;
	}
	.skills-flex-container{
		font-size: 1em;
	}
	/* .projects-grid-container{
		grid-template-columns: 1fr 1fr;
	} */
	
	.projects-card{
		/* border: solid white 2px; */
	}
	.projects-card:hover{
		/* transition: width 2s; */
		

	}

	.project-title{

	}
	.project-description{

	}
	.project-link{
		
	}
	.project-number{

	}
	
	.contact{
		width: 50vw;
		margin: 0 auto;
	}
	.contact h2{
		/* margin: 5%;
		padding: 0; */
	}
	form{
		/* margin: 0 auto;
		width: 70vw; */
	}
	form label{
		/* margin: 5% 0 5% 0 ; */
	}
	form textarea{
		min-height: 10vw;
	}
	form button{

		/* padding: 3%;
		width: 30%; */
	}
	footer{
		font-size: 1.2em;
	}

	footer h2{
		padding-bottom: 5%;
	}
	.copyright{
		
	}
	.footer-grid-container{
		grid-template-columns: 3fr 1fr 1fr;
	}
	
  }



 