/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
a {
	text-decoration: none;
}

/* ------------------- END OF RESET ------------------- */ 
/* CSS for JS toggles */ 
/* .display-none{
	display: none;
}
.display-block{
	display: block;
} */
/* Main styles */ 
body {
	font-family: Helvetica, Arial, sans-serif;
}
#wrapper{
	margin: 7.5%;
}
/* button{
	display: block;
	width: 30px;
	height: 10px;
	border-top: 1.5px solid black;
	border-bottom: 1.5px solid black;
} */
/* .top-navbar{
	display: flex;
	justify-content: space-between;
} */

h1{
	margin-top: 100%;
}
a:link, a:visited, a:active{
	color: black;
}
a:hover{
	color: lightgray;
}

/* Tutorial nav bar */
.nav-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px;
}
.nav-menu{
	display: flex;
	justify-content: space-between;
	gap: 3em;
}
.nav-link{
	transition: 0.5s ease;
}
.bar{	
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	background-color: black;
	/* -webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; */
}
.hamburger{
	display: block;
	cursor: pointer;
}
/* .hamburger.active .bar:nth-child(2){
	opacity: 0;
} */
.hamburger.active .bar:nth-child(1){
	transform: translateY(4px) rotate(45deg);
}
.hamburger.active .bar:nth-child(2){
	transform: translateY(-4px) rotate(-45deg);
}
.nav-menu{
	position: fixed;
	left: -100%;	
	top: 70px;
	flex-direction: column;
	width: 100%;
	transition: .5s;
	margin: 7.5%;
}

.nav-item{
	/* margin: 16px 0; */
}
.nav-menu.active{
	left: 0;
}
.temp-background{
	width: 100vw;
	height: 80vh;
	background-color: antiquewhite;
	margin: 0 auto;
}
/* ------------------- MEDIA QUERIES (mobile first)------------------- */ 
@media only screen and (min-width: 600px) {
	/* When screen width is 600px or more / 600px以上の場合 */
	/* nav ul{
		display: flex;
	} */

	.hamburger{
		display: none;
	}
	.nav-menu{
		position: initial;
		left: initial;	
		top: initial;
		flex-direction: initial;
		width: initial;
		margin: initial;
	}
	

	

  }


@media only screen and (min-width: 800px) {
	/* When screen width is 800px or more / 800px以上の場合 */


  }

@media only screen and (min-width: 1080px) {
	/* When screen width is 1080px or more / 1080px以上の場合 */
	
  }